.frame-alert-info,
.frame-alert-success,
.frame-alert-warning,
.frame-alert-danger {
  .ce-textpic {
    border-left: 6px solid $primary;
    padding: 2rem 1.5rem;

    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .ce-bodytext + .ce-gallery {
      padding-top: 2rem;
    }
  }
}

.frame-alert-success .ce-textpic {
  border-left-color: $success;
  @extend .bg-success;
  @extend .bg-opacity-25;
}

.frame-alert-info .ce-textpic {
  border-left-color: $primary;
}

.frame-alert-warning .ce-textpic {
  border-left-color: $warning;
  @extend .bg-warning;
  @extend .bg-opacity-25;
}

.frame-alert-danger .ce-textpic {
  border-left-color: $danger;
  @extend .bg-danger;
  @extend .bg-opacity-25;
}
