.hr-b {
  border-bottom: 1px solid #444;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 1rem;

  &.btn-primary {
    color: var(--bs-btn-color) !important;
  }
}