<f:if condition="{settings.searchUid} != ''">
<div class="modal modal-search lightbox  fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0 bg-transparent">
            <div class="modal-body">
                <button type="button" class="btn-close position-absolute top-0 end-0 p-3" data-bs-dismiss="modal"
                        aria-label="Close" style="z-index: 2; background: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; top: -5px;" viewBox="0 0 16 16"
                         fill="#fff">
                        <path d="M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z"></path>
                    </svg>
                </button>

                <div class="modal-title fs-md-3 fs-lg-4">
                    <f:translate key="search" extensionName="dp_theme"/>
                </div>
                <div class="modal-search-content">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{settings.searchUid}"/>
                </div>
            </div>
        </div>
    </div>
</div>
</f:if>
