.css--element {
  &.bg-op {
    position: relative;
    background-size: cover;
    background-position: center;

    &:before {
      position: absolute;
      bottom: 0;
      left: 50%;
      top: 0;

      margin-left: -50%;
      margin-left: -50vw;
      width: 100%;
      width: 100vw;

      content: '';
      display: block;

      background: inherit;
      background-position: inherit;
      background-size: inherit;

      @include media-breakpoint-up(xl){
        background-attachment: fixed;
      }
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      top: 0;

      margin-left: -50%;
      margin-left: -50vw;
      width: 100%;
      width: 100vw;

      content: '';
      display: block;

      background-color: inherit;
      opacity: .4;
    }

    .fluid-container {
      position: relative;
      overflow: hidden;
      z-index: 2;
    }
  }
}


