.css--element {
  &.bg-op {
    position: relative;
    background-size: cover;
    background-position: center;

    &:before {
      position: absolute;
      bottom: 0;
      left: 50%;
      top: 0;

      margin-left: -50%;
      margin-left: -50vw;
      width: 100%;
      width: 100vw;

      content: '';
      display: block;

      background: inherit;
      background-position: inherit;
      background-size: inherit;

      @include media-breakpoint-up(xl){
        background-attachment: fixed;
      }
    }

    &.bg-repeat:before {
      background-size: auto;
    }
    &.bg-dark {

      .dp-fancy & {
        text-shadow: 0 0 5px #000;

        &:after {
          background-image: url(#{$path}/assets/simple_dashed.png);
          background-repeat: repeat;
        }
      }
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      top: 0;

      margin-left: -50%;
      margin-left: -50vw;
      width: 100%;
      width: 100vw;

      content: '';
      display: block;

      background-color: inherit;
      opacity: .4;
    }

    .fluid-container {
      position: relative;
      //overflow: hidden;
      z-index: 2;
    }
  }
  &.text-white {
    a {
      color: inherit;
      text-decoration: none;


      &:hover {
        .wk-homepage & {
          --bs-link-color-rgb: 0,0,0;
          text-shadow: none;
        }
        color: rgb(var(--bs-link-color-rgb));
      }
    }
  }

  &.bg-white {
    header {
      text-shadow: 0 0 10px #fff;
    }
  }
}


