// main: ../style.scss
.tx-powermail {
  .parsley-errors-list {
    @extend .text-danger;
  }
  .powermail_form{
    &.nolabel {
      > h3 {
        display: none;
      }
    }
  }

  .powermail_fieldwrap {
    //@extend .form-group;

    &.layout2 {
      float: left;
      width: 50%;
    }
    &.nolabel {
      .powermail_label {
        display: none;
      }
    }
  }

  .powermail_field {
		// @extend .form-control;
	}

  .powermail_radio_outer {
    @include clearfix;
    margin: 0 -15px;
    .powermail_radio_inner {
      padding: 0 15px;
      float: left;

    }

    label {
      color: $gray-500;
      font-weight: normal;
    }
  }

  .powermail_check_outer {
    label {
      color: $gray-500;
      font-weight: normal;
    }
  }

  .powermail_input,
  .powermail_textarea,
  textarea, select {
    @extend .form-control;
  }

  .powermail_fieldset {

    .powermail_legend {
      border-bottom: 0;
      padding: 0 15px;

      color: $gray-500;
    }

    &.nolabel {
      .powermail_legend {
        display: none;
      }
    }
    @include clearfix;
  }

  .powermail_confirmation {
    @include clearfix;

    .powermail_all_label {
      @extend h4;
    }
    form {
      display: inline-block;
      input[type="submit"] {
        @extend .btn;
        @include button-variant($secondary, $secondary);
      }
    }
  }
}

.tx-indexedsearch {
  table {
    @extend .table;

    @include media-breakpoint-up(md) {
      width: 600px
    }
  }
  select,
  input[type="text"]{
    @extend .form-control;
    margin-bottom: 5px;
  }

  .tx-indexedsearch-searchbox table input.tx-indexedsearch-searchbox-sword {
    width: 100%;
  }

  .tx-indexedsearch-searchbox-button {
    @extend .btn;
    @include button-variant($secondary, $secondary);
  }
}

/**
 * Powermail Produkt mails
 */
.tx-powermail {
  h3 {
    width: 100%;
  }

  .powermail_form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 -10px;

    .powermail_fieldset {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 10px;

      &.layout4, &.layout5 {
        @media screen and (min-width: 550px) {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }
  }

  .powermail_fieldset > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0 -10px;

    .powermail_fieldwrap {
      flex: 0 0 100%;
      max-width: 100%;

      padding: 0 10px;

      &.layout4, &.layout5 {
        @media screen and (min-width: 550px) {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }
  }

  .powermail_fieldset .powermail_legend {
    font-size: 24px;

    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1d81c8;
    border-bottom: 1px solid #eceeef;

    padding: 10px 0;
    font-weight: 300;
  }

  .powermail_fieldwrap_type_file .powermail_field {
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.5rem 0.75rem;
  }

  position: relative;

  .powermail_progressbar {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,.7);

    .powermail_progress {
      width: 80%;
      max-width: 300px;
      height: 20px;


      webkit-animation: progress-bar-stripes 1s linear infinite;
      animation: progress-bar-stripes 1s linear infinite;

      background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
      background-size: 1rem 1rem;

      background-color: #1d81c8;
    }

  }
}
