.frame-layout-12 {
  .ce-gallery {
	--bs-gutter-x: 1rem;
	--bs-gutter-y: 1rem;

	.ce-column {
	  width: 50%;

	  @include media-breakpoint-up(sm) {
		width: 50%;
	  }
	  @include media-breakpoint-up(lg) {
		width: 33.333%;
	  }
	  @include media-breakpoint-up(xl) {
		width: 25%;
	  }
	}
  }

  picture {
	img {
	  width: 100%;
	}
  }

  .image {
	position: relative;
	overflow: hidden;

	> a {
	  &:before {
		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;
		content: '';
		z-index: 3;
	  }
	}

	.inner-caption {
	  color: #fff;
	  padding: 1rem;
	  line-height: 1.1em;
	  text-align: left;
	  width: 100%;

	  margin-top: auto;
	  position: relative;
	  z-index: 1;
	  transition: all .4s ease-in-out;


	  top: 100%;

	  div {
		padding: .5rem 0;

		+ div {
		  position: relative;
		  z-index: 2;

		  &:before,
		  &:after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;

			border-top: 1px solid #fff;
			content: '';
		  }

		  &:after {
			width: 2rem;
			border-color: $primary;
		  }
		}
	  }
	}

	.image-caption {
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;

	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  transition: all .4s ease-in-out;

	  .fancybox {
		display: none;

		justify-content: center;
		align-items: center;

		background-color: $primary;
		font-size: 1.3rem;
		color: #fff;
		opacity: 0;
		visibility: hidden;
		height: 3rem;
		width: 3rem;

		transition: all .4s ease-in-out;
		transform: translate(-50%, -50%);
		border-radius: 1000px;
		position: absolute;
		z-index: 5;
		left: 50%;
		top: -65%;

		@include media-breakpoint-up(sm) {
		  display: inline-flex;
		}

		&:hover {
		  opacity: .8;
		}
	  }

	  &:before {
		position: absolute;
		left: 0;
		bottom: 0;

		width: 100%;
		height: 0;
		content: '';
		background-color: rgba(#000, .8);
		transition: all .4s ease-in-out;
	  }
	}

	&:hover {
	  .fancybox {
		top: 35%;
		opacity: 1;
		visibility: visible;
	  }

	  .inner-caption {
		top: 0;
	  }

	  .image-caption {
		&:before {
		  height: 100%;
		  top: 0;
		}
	  }
	}
  }
}

.frame-layout-13 {
  // https://codepen.io/iamsaief/pen/jObaoKo
  --dp-gallerie-border-radius: 10px;

  .ce-gallery {
	margin: 0 !important;
	--bs-gutter-y: 1rem;
  }

  .ce-column {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0 !important;
	margin: 0 !important;

	overflow: hidden;
	box-shadow: 0 0 5px #bbb;
	border-radius: var(--dp-gallerie-border-radius);

	div, figure, picture, a {
	  display: block;
	  width: 100%;
	  height: 100%;
	}

	img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;

	}
  }

  .ce-row {
	display: grid;
	grid-gap: calc(var(--bs-gutter-y) * 0.5);
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;

	margin: 0 !important;

	@include media-breakpoint-up(sm) {
	  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	.wide {
	  grid-column: span 2;
	}

	.tall {
	  grid-row: span 2;
	}

	.big {
	  grid-column: span 2;
	  grid-row: span 2;
	}
  }


  .image {
	position: relative;
	overflow: hidden;

	&:hover {
	  .image-caption {
		opacity: 1;
		visibility: visible;
	  }
	}
  }

  .image-caption {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transition: all .3s ease-in-out;
	background-color: rgba(#000, .7);

	opacity: 0;
	visibility: hidden;
	color: #fff;

	text-transform: uppercase;
	letter-spacing: 1px;

	> div {
	  width: auto;
	  height: auto;
	}
  }

  .fancybox {

	img {
	  transition: all .3s ease-in-out;
	}

	&:hover {
	  img {
		transform: scale(1.1);
	  }
	}
  }


  /**
   * Orientation
   */
  img {
	object-position: 50% 50%;
  }

  .ce-above {
	img {
	  object-position: 0 0;
	}


	&.ce-center {
	  img {
		object-position: 50% 0;
	  }
	}

	&.ce-right {
	  img {
		object-position: 100% 0;
	  }
	}
  }

  .ce-below {
	img {
	  object-position: 0 100%
	}

	&.ce-center {
	  img {
		object-position: 50% 100%;
	  }
	}

	&.ce-right {
	  img {
		object-position: 100% 100%;
	  }
	}
  }

  .ce-intext {

	.ce-gallery {
	  max-width: 100%;
	  width: 100%;
	  padding-right: 0;
	}

	img {
	  object-position: 100% 50%;
	}

	&.ce-left {
	  img {
		object-position: 0 50%;
	  }
	}
  }
}