.news-list-view {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0 -1rem;

  .article {
	padding: 1rem;
	width: 100%;

	.header {
	  .subline {
		font-size: .9rem;
	  }
	  .h3 {
		a {
		  color: inherit;
		  text-decoration: none;

		  display: block;
		  position: relative;
		  padding-bottom: 1rem;
		  margin-bottom: 1rem;

		  &:before {
			position: absolute;
			top: 100%;
			left: 0;
			width: 4rem;

			content: '';
			display: block;
			border-bottom: 2px solid $headings-color;
			transition: all .2s ease-in-out;
		  }

		  &:hover {
			&:before {
			  width: 100%;
			}
		  }
		}
	  }
	}

	@include media-breakpoint-up(lg) {
	  width: 50%;
	}
	@include media-breakpoint-up(xl) {
	  width: 33.333333%;
	}
  }
}
