.news-list-view {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0 -1rem;

  .article {
	padding: 1rem;
	width: 100%;
	position: relative;

	.header {
	  .subline {
		font-size: .9rem;
	  }
	  .h3 {
		a {
		  color: inherit;
		  text-decoration: none;

		  display: block;
		  padding-bottom: 1rem;
		  margin-bottom: 1rem;

		  // underline for Animation
		  > span {
			display: block;
			position: relative;

			&:before {
			  position: absolute;
			  top: 100%;
			  left: 0;
			  width: 4rem;
			  margin-top: 1rem;

			  content: '';
			  display: block;
			  border-bottom: 2px solid $headings-color;
			  transition: all .2s ease-in-out;
			}
		  }

		  // full item click
		  &:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;

			width: 100%;
			height: 100%;
		  }

		  &:hover {
			// underline animation
			> span:before {
			  width: 100%;
			}
		  }
		}
	  }
	}

	@include media-breakpoint-up(lg) {
	  width: 50%;
	}
	@include media-breakpoint-up(xl) {
	  width: 33.333333%;
	}
  }
}
