// main: ../style.scss

//Font-Awesome Font Path
$fa-font-path:        "#{$path}/assets/vendor/@fortawesome" !default;

// Set Height Fix of Buttons and Bars for Offcanvis
$navbar-height: 							50px !default;
$offcanvis-width: 							280px !default;
$offcanvis-bg:								#fff !default;
$offcanvis-overlay: 						0px !default;
$offcanvis-overlay-height: 					$navbar-height !default;

// Border Width-Color
$style_border_width:        				1px !default;
$style_border_color: 						#ccc !default;
$style_color_dark: 							#333 !default;
$font-size-base-calc:                       18px !default; // Assumes the browser default, typically `16px`

// Bootstrap Overrides
$font-family-base:       					"Dosis","Roboto",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-sans-serif:  					 "Dosis","Roboto",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$headings-font-family:  $font-family-sans-serif !default;
$headings-font-weight: 						800 !default;
// Hamburger
$hamburger-padding-x                       : 1.5rem !default;
$hamburger-padding-y                       : 5px !default;
$hamburger-layer-width                     : 32px !default;
$hamburger-layer-height                    : 2px !default;
$hamburger-layer-color                     : #252525 !default;
$hamburger-layer-border-radius             : 2px !default;
$hamburger-layer-spacing                   : 6px !default;
$hamburger-hover-opacity                   : 1 !default;
// Onpage Element
$bg-animation-speed:            40s !default;
$bg-animation:                  (1960px, 961px)!default;

$border-radius:               5px !default;
$border-radius-lg:            5px !default;
$border-radius-sm:            5px !default;

$blue:        #2473be !default;
$orange:      $primary !default;
$body-color:                #252525 !default;

$modal-backdrop-opacity: .7 !default;

$grid-breakpoints: (
		xs: 0,
		sm: 576px,
		md: 768px,
		lg: 992px,
		xl: 1200px,
		xxl: 1400px,
		3xl: 1600px,
) !default;

// scss-docs-start container-max-widths
$container-max-widths: (
		sm: 540px,
		md: 720px,
		lg: 960px,
		xl: 1140px,
		xxl: 1320px,
		3xl: 1520px
) !default;

$card-color2: #2473be !default;
$card-color1: $primary !default;
$card-bg: #fff !default;

$zindex-modal-backdrop:             10050 !default;
$zindex-modal:                      10055 !default;