@mixin typo3CeMedia(){
  @include rem(margin, -5);

  .ce-row {
    display: flex;
    flex-wrap: wrap;

    // Center Images
    .ce-center & {
      justify-content: center;

      .ce-column {
        text-align: center;
      }
    }

    .ce-left & {
      justify-content: flex-start;

      .ce-column {
        text-align: left;

      }
    }

    .ce-right & {
      justify-content: flex-end;

      .ce-column {
        text-align: right;
      }
    }

    .ce-column {
      @include rem(padding, 5);
      display: block;
      text-align: left;
      float: left;

      figure {
        display: inline-block;
        max-width: 100%;

        picture {
          display: inline-block;
          max-width: 100%;

        }
      }
    }
  }

  @for $i from 1 through 12 {
    &[data-ce-columns="#{$i}"] {
      .ce-column {
        width: (100% / $i);
      }
    }
  }

  &[data-ce-columns="2"],
  &[data-ce-columns="3"] {
    .ce-column {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
  &[data-ce-columns="4"] {
    .ce-column {
      @include media-breakpoint-down(sm) {
        width: (100% / 2);
      }
    }
  }
  &[data-ce-columns="6"] {
    .ce-column {
      @include media-breakpoint-down(sm) {
        width: (100% / 3);
      }
    }
  }
  &[data-ce-columns="8"] {
    .ce-column {
      @include media-breakpoint-down(sm) {
        width: (100% / 4);
      }
    }
  }
  &[data-ce-columns="12"] {
    .ce-column {
      @include media-breakpoint-down(sm) {
        width: (100% / 6);
      }
    }
  }


  &.ce-border {
    .ce-row {
      margin-left: -0.5rem;
      margin-right: -0.5rem;

      &:first-child {
        margin-top: -0.5rem;
      }

      .ce-column {
        padding: 0.5em;

        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


@mixin typo3CeMediaCols() {

  @for $i from 1 through 12 {
    &[data-ce-imagecols="#{$i}"] {
      .ce-column {
        width: (100% / $i);
      }
    }
  }

  &[data-ce-imagecols="2"],
  &[data-ce-imagecols="3"] {
    .ce-column {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
  &[data-ce-imagecols="4"] {
    .ce-column {
      @include media-breakpoint-down(sm) {
        width: (100% / 2);
      }
    }
  }
  &[data-ce-imagecols="6"] {
    .ce-column {
      @include media-breakpoint-down(sm) {
        width: (100% / 3);
      }
    }
  }
  &[data-ce-imagecols="8"] {
    .ce-column {
      @include media-breakpoint-down(sm) {
        width: (100% / 4);
      }
    }
  }
  &[data-ce-imagecols="12"] {
    .ce-column {
      @include media-breakpoint-down(sm) {
        width: (100% / 6);
      }
    }
  }
}