<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:switch expression="{item.data.doktype}">
    <f:case value="199">
        <a href="javascript:void(0)" title="{item.data.title}" class="{f:if(condition:item-class, then:'{item-class}', else:'nav-link')} item--spacer">
    </f:case>
    <f:case value="4">
        <a href="javascript:void(0)" title="{item.data.title}" class="{f:if(condition:item-class, then:'{item-class}', else:'nav-link')} item--spacer">
    </f:case>
    <f:case value="3">
        <a href="{f:uri.typolink(parameter: '{item.data.url}')}" {f:if(condition:item.target, then:'target="{item.target}"')} title="{item.data.title}" class="{f:if(condition:item-class, then:'{item-class}', else:'nav-link')}" data-link="true">
    </f:case>
    <f:defaultCase>
        <a href="{item.link}" {f:if(condition:item.data.target, then:'target="{item.data.target}"')} title="{item.data.title}" class="{f:if(condition:item-class, then:'{item-class}', else:'nav-link')}">
    </f:defaultCase>
</f:switch>
{item.title->f:format.raw()}
<f:if condition="{item.children}">
    <span class="trigger"></span>
</f:if>
</a>


</html>
