<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{menuMain}">
    <f:for as="mainItem" each="{menuMain}">
        <li class="nav-item {f:if(condition:mainItem.current, then:' active')}">
            <f:render arguments="{item: mainItem}" partial="Navigation/Elements/Link"/>
        </li>
        <f:if condition="{mainItem.children}">
            <f:render arguments="{submenu: mainItem.children}" section="submenu"/>
        </f:if>
    </f:for>
</f:if>

<f:section name="submenu">
    <f:for each="{submenu}" as="subItem">
         <f:render partial="Navigation/Elements/ItemCanvis" arguments="{item: subItem}"/>
    </f:for>
</f:section>

</html>
